// Color variables
$primary-color: #725C4E;
$secondary-color: #8A7B66;
$background-color:#EEE9CA;
$card-color: white;
$time-color:#ECDF52;
$season-color: #82D5BB;
$hemisphere-color: #F7CD67;

//Margin and padding variables
$margin: 300px;
$padding: 70px;
$card-top: 40px;
$chip-padding:10px;
$large-chip-padding: 20px;

//Radius 
$radius: 40px;

//Line height
$body-line: 150%;

//Type sizes
$page-title: 48px;
$label: 14px;
$chip-text: 18px;

//Chips mixins
@mixin small-chip {
    display: inline-block;
    padding: $chip-padding;
    border-radius: $radius;
    height: auto;
    font-family: Roboto;
    font-size: $label;
    transform: rotate(-10deg);
  }

  @mixin large-chip {
    margin:-10px 0 0 0;
    padding: $large-chip-padding 40px $large-chip-padding 40px;
    background-color: $card-color;
    border-radius:$radius;
    font-family: Roboto;
    font-size: $chip-text;
    font-weight: 500;
  }

  @mixin tabs {
    margin-left:30px;
    padding: $large-chip-padding 40px $large-chip-padding 40px;
    background-color: $secondary-color;
    color: $card-color;
    border-radius:50px;
    font-family: Roboto;
    font-size: $chip-text;
    font-weight: 500;
  }