@import "/css/settings.variables";
@import "/css/settings/responsive";

.profile-card {
  display: flex;
  background-color: $card-bg-color;
  border-radius: $card-border-radius;
  box-shadow: $card-box-shadow;
  overflow: hidden;

  .profile-image {
    flex: 0 0 $image-width;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .profile-info {
    flex: 1;
    padding: $card-padding;

    .name {
      color: $secondary-color;
      margin-bottom: $spacing-small;
    }

    .title {
      color: $primary-color;
      font-weight: bold;
      margin-bottom: $spacing-medium;
    }

    .details {
      .detail {
        @include flexbox();
        margin-bottom: $spacing-small;

        .label {
          font-weight: bold;
          margin-right: $spacing-small;
        }

        .value {
          color: $secondary-color;
        }
      }
    }
  }

  @include responsive(mobile) {
    flex-direction: column;

    .profile-image {
      flex: 0 0 $image-width-mobile;
    }

    .profile-info {
      padding: $card-padding-mobile;
    }
  }
}