//Importing Variables
@import "settings.variables";
@import "settings.responsive";

//Styling for the profile card
.profile-card {
  display: flex;
  flex-wrap:wrap;
  margin-bottom:100px;
  padding:$card-padding;
  background-color: $card-bg-color;
  border-radius: $card-border-radius;
  box-shadow: $card-box-shadow;

.employee-info {
    padding-left:$spacing-medium;
    max-width: 300px;
    padding-right:$spacing-medium;
}

  //Styling for the profile image
  .profile-image {
      object-fit: cover;
      border-radius: 50%;
      width:70%;
      padding-bottom:$spacing-small;
  }

  //Styling for the profile information
    .employee-name {
      color: $primary-color;
      margin-bottom: $spacing-small;
      font-size: 30px;
      font-weight: bold;
    }

    .employee-job-title {
      color: $primary-color;
      margin-bottom: $spacing-medium;
      font-style: italic;
    }

    .right-content {
        background-color: #F6F5F6;
        width:400px;
        margin-left: $spacing-medium;
        align-content: center;
    };
    //Styling for the details page
    .employee-company,
    .employee-experience,
    .employee-school,
    .employee-major,
    .employee-linkedin,
    .employee-code-languages {
          color: $primary-color;
          list-style-type: none;
          padding-top:$spacing-medium;
    }
}

// Mobile responsiveness
@media screen and (max-width: 768px) {
  .profile-card {
    flex-direction: column;
  }
}
