// Color variables
$primary-color: #717171;
$secondary-color: #717171;

// Spacing variables
$spacing-small: 8px;
$spacing-medium: 16px;

// Card variables
$card-bg-color: #ffffff;
$card-border-radius: 8px;
$card-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$image-width: 200px;
$image-width-mobile: 150px;
$card-padding: 24px;
$card-padding-mobile: 16px;

//Type sizes
